
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
 
  header,
  main,
  footer {
    width: 100%;
  }
  
  
  main {
    display: flex;
    flex-direction: row;
    flex: auto;
  }
  
  
  article {
    flex: 2;
    overflow-y: auto;
  }
  
  
  aside {
    flex: 1;
    overflow-y: auto;
  }
  @media (max-width: 768px) {
    body.works_on_smartphone main {
      flex-direction: column;
    }
    body.works_on_smartphone article,
    body.works_on_smartphone aside {
      flex: none;
      width: 100%;
      max-height: 50vh; 
      overflow-y: auto;
    }
  }
  